<%= form_for User.new do |u| %>

<div class='container'>
  <%=u.text_field :email, placeholder: 'email' %><br />
  <%=u.password_field :password, placeholder: 'password' %><br />
  <%=u.password_field :password_confirmation, placeholder: 'confirm password'%><br />
  <div class='center'><%= u.submit %><div> 
</div>

<% end %>