
<% if current_user %>

<!-- renders scrap body -->
  <% current_user.i_follows.each do |f| %>

  <% f.i_follow.scraps.each do |s| %> 
<a href='/scrap/' + '5'>
   <div class="feed">
    <div class="followerid">
      <%= f.i_follow_id %>
    </div>

    <%= s.search_tag %>
    <%= s.body %></div></a>

      <% end %>
      <% end %>
<br />
<!-- renders scrap body END -->
  
<% else %>
  <div class="container">
    <div class="search"><%= render :partial => 'scraps/search' %></div>
   <!--  <br />
    <div class="post"><input type="text" placeholder="post"></input></div>
  </div> -->
  <br />
  <br />
  <br />
  <%= render "users/form" %>
<% end %>




