
    <%= render partial: 'votes/voter', locals: { scrap: @scrap } %>

<p>
  <strong>Search Tag:</strong>
  <%= @scrap.search_tag %>
</p>

<p>
  <strong>Code Scrap:</strong>
  <%= @scrap.body %>
</p>

<%= link_to 'Edit', edit_scrap_path(@scrap) %> 
<%= link_to 'Back', scraps_path %>
