<!DOCTYPE html>
<html>
<head>
  <title>Syntaxair</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar">
    <a href="/"><div class="icon"></div></a>
    <!-- start if statement for login vs. logged in -->
    <% if current_user %>
    <div class="login">
      <%= 'Welcome, ' + current_user[:email].to_s + "!" %>
      <%= button_to "Log out", "/users/new", method: :delete %>
      <%= button_to "Post scrap", "/scraps/new" %>
    </div>
    <% else %>
    <div class="login">
    <%= form_for User.new, {url:"/authentications", method:"post"} do |u| %>
    <p>
      <%= u.text_field :email, placeholder: "email" %>
      <%= u.password_field :password, placeholder: "password" %>
      <%= button_to "login"%>
    </p>
    <% end %>
    <% end %>
    </div>
    <!-- end if statement -->
  </div>

  <% if current_user %>
    <div class="container">
    <%= render :partial => 'scraps/search' %>
    </div>
    <!--   <a href="/"><div class="branding_small"></div></a> -->

    </div>
  <% else %>
    <div class="container">
      <a href="/"><div class="branding"></div></a>
    </div>
    <div id="search">
  <% end %>


  <%= yield %>

</body>
</html>
