<!DOCTYPE html>
<html>
<head>
     <title>Syntaxair</title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
     <%= csrf_meta_tags %>
</head>
<body>
  
     <div class="navbar">
          <a href="/"><div class="icon"></div></a>
          <!-- start if statement for login vs. logged in -->
          <% if current_user %>
   
               <a href="/"><div class="branding_small"></div><a>
               <div id="home_logout">
                    <div class="login">
                         <h1 class="logged"><%= current_user[:email] %></h1>
                         <%= button_to "Log out", "/users/new", method: :delete, id: 'logoutbutton' %>
                    </div>
               </div>

          <% else %>
          <!-- ELSE statement for login vs. logged in -->
               <div class="login">
                    <%= form_for User.new, {url:"/authentications", method:"post"} do |u| %>
                    <p>
                         <%= u.text_field :email, placeholder: "email" %>
                         <%= u.password_field :password, placeholder: "password" %>
                         <%= button_to "login"%>
                    </p>
                    <% end %>
               </div>
          <% end %>          
     <!-- end if statement -->
     </div>

  <% if current_user %>
  <p><p/>
    <div class="container">

    <%= render :partial => 'scraps/search' %>
  
    </div>
  <p class="hide">.<p/>
<br />

  <% else %>
  
    <div class="container">
      <a href="/"><div class="branding"></div></a>
    </div>
  <% end %>


  <%= yield %>

</body>
</html>
